@model IEnumerable<MySQL_MVC_Template1.Models.packagemaster>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            packageid
        </th>
        <th>
            packagename
        </th>
        <th>
            packagedescription
        </th>
        <th>
            deleted
        </th>
        <th>
            createddate
        </th>
        <th>
            modifieddate
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.packageid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.packagename)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.packagedescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.deleted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.createddate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.modifieddate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
