@model Ebilling.Models.packagemaster

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>packagemaster</legend>

    <div class="display-label">packageid</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.packageid)
    </div>

    <div class="display-label">packagename</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.packagename)
    </div>

    <div class="display-label">packagedescription</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.packagedescription)
    </div>

    <div class="display-label">deleted</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.deleted)
    </div>

    <div class="display-label">createddate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.createddate)
    </div>

    <div class="display-label">modifieddate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.modifieddate)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
