@model MySQL_MVC_Template1.Models.categorymaster

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>categorymaster</legend>

    <div class="display-label">categoryid</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.categoryid)
    </div>

    <div class="display-label">categoryname</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.categoryname)
    </div>

    <div class="display-label">categorydescription</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.categorydescription)
    </div>

    <div class="display-label">createddate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.createddate)
    </div>

    <div class="display-label">modifieddate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.modifieddate)
    </div>

    <div class="display-label">deleted</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.deleted)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
